*,
*::before,
*::after {
    box-sizing: border-box;
}

.login-form__content {
    margin: 0 auto;
    padding: 16px 8px;
    max-width: 680px;
}

.login-form__heading{
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    height: 44px;
}

.form{
    margin: 0 auto;
    width: 100%;
}

.form__group{
    margin-bottom: 20px;
}

.form__group-title{
    text-align: left;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input{
    padding: 10px;
    width: 100%;
    height: 50px;
    border: 1px solid;
    border-radius: 3px;
    margin-bottom: 30px;
}

.form__button{
    margin-top: 20px;
    text-align: center;
}

.form__button-submit{
    padding: 10px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background-color: black;
    color: #FFF;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.form__button-submit:hover {
    background-color: darkgrey;
}

.register__link {
    margin-top: 20px;
    text-align: center;
    color: #0073CC;
}
