.main {
    padding: 30px 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.verify-comment__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    align-items: center;
}

.verify-comment {
    margin-top: 150px;
    text-align: center;
    text-decoration: solid;
    font-weight: bold;
}


.alert {
    padding: 12px 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.alert-success {
    margin-top: 20px;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.mailhog-link__wrapper{
    margin-top: 30px;
    text-align: center;
}

.verify-again__link form {
    margin-top: 30px;
    text-align: center;
}

.verify-again__link button {
    background: none;
    border: none;
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    font-size: inherit;
}

.verify-again__link button:hover {
    color: #0056b3;
}


.mailhog-link__button {
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-weight: bold;
}

.mailhog-link__button:hover {
    background-color: #0056b3;
}
